# Зависимости
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Сборка
dist
dist-ssr

# Редакторы
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Переменные окружения
.env
.env.local
.env.production

# Логи
*.log